<span [ngClass]="{winner: maxPoints === score['1'].score}"><b>{{score['1'].name}}</b><span> {{score['1'].score}}  </span></span><span> / </span>
<span [ngClass]="{winner: maxPoints === score['2'].score}"><b>{{score['2'].name}}</b><span> {{score['2'].score}}  </span></span><span> / </span>
<span [ngClass]="{winner: maxPoints === score['3'].score}"><b>{{score['3'].name}}</b><span> {{score['3'].score}}  </span></span><span> / </span>
<span [ngClass]="{winner: maxPoints === score['4'].score}"><b>{{score['4'].name}}</b><span> {{score['4'].score}}  </span></span>
